input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button{
	border:none;
}

a{
	text-decoration:none;
}

input{
	border:none;
}
@font-face{
	font-family:'discord';
	src: url('fonts/gg sans Medium.ttf');
}

ul{
	list-style-type:none;
}
.text{
	font-family:"discord";
	color:#99aab5;
	font-size:20px;
}

body{
	background-color:#23272a;
}

#message{
	padding:5px;
	margin:10px;
}

#button{
	font-weight:bold;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#5865F2;
	color:white;
	font-family:"discord";
}

#button1{
	font-weight:bold;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#5865F2;
	color:white;
	margin:40px;
	font-family:"discord";
} 

#messageText{
	background-color:#42464e;
}

#message-form input{
	color:white;
	margin-right:10px;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	width:90%;
}

#message-form input::placeholder{
	font-family:"discord";
	color:#bbbbbb;
}

.container{
	margin:0% 5%;
}

h1{
	margin:40px;
}

#messages-div{
	border:1px solid transparent;
	background-color:#2c2f33;
	border-radius:10px;
}

#messages{
	height:600px;
	overflow-y:scroll;
}

#signup-form input[type="text"]{
	color:white;
	padding:15px;
	margin:20px;
	border:1px solid transparent;
	border-radius:10px;
	width:90%;
	background-color:#42464e;
}

#signup-button{
	margin:20px;
	font-weight:bold;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#5865F2;
	color:white;
}

.container-log{
	margin:10% 10%;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#2c2f33;
	padding:20px;
}

#h1-log{
	margin:20px;
}

#signup-form input::placeholder{
	font-family:"discord";
	color:#bbbbbb;
}

#signin-button{
	margin:20px;
	font-weight:bold;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#5865F2;
	color:white;
}


#signin-form input[type="text"]{
	color:white;
	padding:15px;
	margin:20px;
	border:1px solid transparent;
	border-radius:10px;
	width:90%;
	background-color:#42464e;
}


#signin-form input::placeholder{
	font-family:"discord";
	color:#bbbbbb;
}

.top{
 	display:grid;
        justify-items:center;
        grid-template-columns: 1fr auto 1fr;
}

#target{
	margin:40px;
	color:white;
	padding:15px;
	margin:20px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#42464e;
}

#target::placeholder{
	font-family:"discord";
	color:#bbbbbb;
}

#chat-h1{
	justify-self:start;
}

#main-header{
	justify-self:start;
}

#output{
	font-family:"discord";
	color:#99aab5;
	font-size:20px;
}

.direct-link{
	font-family:"discord";
	color:#99aab5;
	font-size:20px;
}

.direct-link:hover{
	text-decoration:underline;
}
