button{
	border:none;
}

input{
	border:none;
}
@font-face{
	font-family:'discord';
	src: url('fonts/gg sans Medium.ttf');
}

ul{
	list-style-type:none;
}
.text{
	font-family:"discord";
	color:white;
	font-size:20px;
}

body{
	background-color:#23272a;
}

#message{
	padding:5px;
	margin:10px;
}

#button{
	font-weight:bold;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	background-color:#5865F2;
	color:white;
}

#messageText{
	background-color:#42464e;
}

#message-form input{
	color:white;
	margin-right:10px;
	padding:15px;
	border:1px solid transparent;
	border-radius:10px;
	width:90%;
}

.container{
	margin:5% 20%;
}

h1{
	margin:40px;
}

#messages-div{

}
